<div id="footer">
  <div class="contact-default">
    <div class="icone-bloc">
      <h6 class="info-text info-text-2"><i class="fa fa-phone"></i><%= link_to "06 01 00 12 00", "tel:#{ENV['TELEPHONE']}" %></h6>
    </div>
    <div class="icone-bloc hidden-md hidden-lg">
      <a id="facebook-link" href="https://www.facebook.com/latourneedesmoustaches" target="blank"><i class="fab fa-facebook"></i></a>
    </div>
    <div class="icone-bloc hidden-md hidden-lg">
      <a href="https://www.instagram.com/la_tournee_des_moustaches/" target="blank"><i class="fab fa-instagram"></i></a>
    </div>
    <div class="icone-bloc">
      <%= link_to cgv_path do %>
        <h6><i class="fas fa-book"></i><%= t(:cgv_short)%></h6>
      <% end %>
    </div>
    <div class="icone-bloc">
      <%= link_to legal_path do %>
        <h6><i class="fas fa-balance-scale"></i><%= t(:data) %></h6>
      <% end %>
    </div>
    <% if user_signed_in? %>
      <div class="icone-bloc">
      <%= link_to destroy_user_session_path, method: :delete do %>
        <h6 class="info-text info-text-3"><i class="fa fa-sign-out-alt"></i> <%=t(:unconnect)%></h6>
      <% end %>
      </div>
    <% else %>
      <div class="icone-bloc">
      <%= link_to new_user_session_path do %>
        <h6 class="info-text info-text-3"><i class="fa fa-sign-in-alt"></i> <%=t(:connect)%></h6>
      <% end %>
      </div>
    <% end %>
    <% if user_signed_in? && current_user.admin %>
      <div class="icone-bloc hidden-xs">
        <%= link_to admin_root_path, class: "admin-link" do %>
          <h6 class="info-text info-text-3"><i class="fas fa-unlock"></i></i>Administration</h6>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="footer-center-infos">
    <div class="center-bloc">
      <%= @logositepictag %>
    </div>
  </div>
  <div class="mylink hidden-xs hidden-sm">
    <a id="facebook-contact" href="https://www.facebook.com/latourneedesmoustaches" target="blank"><i class="fab fa-facebook"></i></a>
    <a href="https://www.instagram.com/la_tournee_des_moustaches/" target="blank"><i class="fab fa-instagram"></i></a>
  </div>
  <div class="guillaumelink">
    <%= link_to @dev_redirection || session[:dev_redirection_default], title: "Créez votre boutique en ligne avec l'agence de Guillaume Crouillere" do %>
      <%= image_tag  'lego.svg', alt: "Guillaume Crouillere - Developpeur WEB indépendant"%>
  <% end %>
  </div>
</div>
