<div class="navbar-laptop-lighttheme nav-mobile">
<!-- Language - Contact - Sign-in - Cart -->
  <div class="nav-top-section">
    <div class="nav-top-left">
      <div class="icone-bloc top-section-item laptop-item">
        <%= link_to contact_path, title: "Accédez au formulaire de contact", class: "nav-link top-nav-link" do %>
          <i class="fas fa-phone"></i>
          <span>06 01 00 12 00</span>
        <% end %>
      </div>
    </div>
    <div class="nav-top-right">
      <% if user_signed_in? %>
        <div class="icone-bloc top-section-item laptop-item">
        <%= link_to destroy_user_session_path, class: "top-nav-link", method: :delete do %>
          <i class="fa fa-sign-out-alt"></i>
          <span class="info-text info-text-3">SE DECONNECTER</span>
        <% end %>
        </div>
      <% else %>
        <div class="icone-bloc top-section-item laptop-item">
          <%= link_to new_user_session_path, title: "Accès à votre compte", class: "navbar-item navbar-link top-nav-link" do %>
            <i class="fa fa-sign-in-alt"></i>
            <span class="info-text info-text-3"><%=t(:connect).upcase%></span>
          <% end %>
        </div>
      <% end %>
      <% if session[:order].present? %>
        <% if Order.where(id: session[:order]).present? %>
          <% if Order.where(id: session[:order]).first.state != "lost" %>
            <%= link_to order_path(Order.find(session[:order])), class: "top-section-item top-nav-link" do %>
              <span><%= image_tag "cart.svg", class: "lightcart"%></span>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <!-- Logo -->
  <div class="navbar-logo">
  <%= link_to root_path, class: "home-link", title: "Retour à l'accueil de la boutique" do %>
    <%= render 'shared/logo_pic' %>
    <%= @logositepictag %>
  <% end %>
  </div>
  <!-- Bottom Links -->
  <div class="navbar-item">
    <div class="nav-bar-list hidden-xs hidden-sm">
      <%= link_to root_path, title: "Liste des produits en vente dans la boutique", class: "nav-link" do %>
        <span ><%=t(:home_page).upcase%></span>
      <% end %>
      <%= link_to ceramiques_path, title: "Liste des produits en vente dans la boutique", class: "nav-link" do %>
        <span ><%=t(:shop_link).upcase%></span>
      <% end %>
      <%= link_to garde_animaux_domicile_path, title: "Demandez une garde à domicile", class: "nav-link" do %>
        <span >GARDE D'ANIMAUX</span>
      <% end %>
      <%= link_to info_path, title: "Présentation de Moustache et Compagnie", class: "nav-link hidden-xs hidden-sm" do %>
        <span>PRESENTATION</span>
      <% end %>
      <%= link_to contact_path, title: "Accédez au formulaire de contact", class: "nav-link hidden-xs hidden-sm" do %>
        <span><%=t(:contact).upcase%></span>
      <% end %>
    </div>

    <div class="nav-bar-list-mobile hidden-md hidden-lg">
      <%= link_to root_path, title: "Liste des produits en vente dans la boutique", class: "nav-link" do %>
        <span ><%=t(:home_page).upcase%></span>
      <% end %>
      <%= link_to ceramiques_path, title: "Liste des produits en vente dans la boutique", class: "nav-link" do %>
        <span ><%=t(:shop_link_mobile).upcase%></span>
      <% end %>
      <div class="shop-dropdown hidden-md hidden-lg">
        <a href="#" class="nav-link">
          <span>SERVICES</span>
          <span class="caret"></span>
        </a>
        <div class="shop-sub-list-mobile">
          <div class="nav-categories">
            <%= link_to garde_animaux_domicile_path, title: "Demandez une garde à domicile", class: "nav-link" do %>
              <span >GARDE D'ANIMAUX</span>
            <% end %>
            <%= link_to info_path, title: "Présentation de Moustache et Compagnie", class: "nav-link" do %>
              <span>PRESENTATION</span>
            <% end %>
            <%= link_to contact_path, title: "Accédez au formulaire de contact", class: "nav-link" do %>
              <span><%=t(:contact).upcase%></span>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    </div>
  </div>
</div>
