<% content_for(:title_tag) do %>
  Vente de croquettes et garde d'animaux à Sautron - La Tournée des Moustaches
<% end %>
<% content_for(:description) do %>
  Service de visite à domicile pour chats, chiens & Cie. Vente en ligne d'une gamme de croquettes 100% naturelles pour prendre soin de vos chiens et chats.
<% end %>

<%= render 'shared/home_pics' %>

<div class="homepage-text">
  <% if user_signed_in? && current_user.admin %>
      <% article_typing("accueil", "vertical", "markdown1", "live-text1", "input1") %>
      <% @markdown = @markdown1 %>
      <div class="live-text">
        <%= render 'shared/articletyping' %>
      </div>
  <% else %>
    <div class="plain-text">
      <% article_display("accueil", "vertical") %>
      <%= @markdown.html_safe %>
    </div>
  <% end %>
</div>

<div class="homepage-logo-strip">
  <%= cl_image_tag @homepicpath, class: "homepage-logo hidden-xs", alt: "La camionnette de #{ENV['FIRSTNAME'].capitalize} #{ENV['LASTNAME'].capitalize} livrant les croquettes" %>
  <%= cl_image_tag @homepicpathmobile, class: "homepage-logo hidden-sm hidden-md hidden-lg", alt: "La camionnette de #{ENV['FIRSTNAME'].capitalize} #{ENV['LASTNAME'].capitalize} livrant les croquettes" %>
  <%= photo_update('productphoto', 30, '', '', 30, '.homepic', "Mise à jour photo d'accueil")%>
  <%= photo_update('productphotomobile', 30, '', '', 412, '.homepicmobile', "Mise à jour photo d'accueil pour mobiles")%>
  <%= photo_update('logophoto', 30, '', '', 785, '.logopic', "Mise à jour logo")%>
</div>

<div class="company-services hidden-xs">
  <%= link_to "Boutique", ceramiques_path, class: "btn-home btn-shop" %>
  <%= link_to "Garde d'animaux", garde_animaux_domicile_path, class: "btn-home btn-garde" %>
</div>

<div class="company-services-mobile hidden-sm hidden-md hidden-lg">
  <%= link_to "Boutique", ceramiques_path, class: "btn-home btn-shop" %>
  <%= link_to "Garde d'animaux", garde_animaux_domicile_path, class: "btn-home btn-garde" %>
</div>

<% if @ceramiques.present? %>
  <div class="container home-page-ceramique-container">
    <div class="row">
      <div class="home-page-ceramique-list">
        <% @ceramiques.each_with_index do |ceramique, index| %>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <%= render 'shared/ceramiques_cards_default', ceramique: ceramique, index: index %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<% content_for(:after_js) do %>
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "ArtGallery",
    "image": ["<%=request.original_url%><%= image_path ENV['HOMEPIC']%>"],
    "@id": "<%=request.original_url%>",
    "name": "La tournée des moustaches",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "45 rue Alphonse de Lamartine",
      "addressLocality": "Sautron",
      "addressRegion": "Pays de la Loire",
      "postalCode": "44880",
      "addressCountry": "FR"
    },
    "geo": {
      "@type": "GeoCoordinates",
      "latitude": <%= ENV['LAT'].to_f %>,
      "longitude": <%= ENV['LAT'].to_f %>
    },
    "url": "<%=request.original_url%>",
    "telephone": "<%= ENV['TELEPHONE']%>",
    "openingHoursSpecification": [
      {
        "@type": "OpeningHoursSpecification",
        "dayOfWeek": ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"],
        "opens": "10:00",
        "closes": "17:00"
      },
      {
        "@type": "OpeningHoursSpecification",
        "dayOfWeek": ["Saturday","Sunday"],
        "opens": "closed",
        "closes": "closed"
      }
    ],
   "priceRange":"20€ à 800€"
  }
  </script>
<% end %>
